.container {
  margin: 0 auto;
  width: 90%;
  max-width: 970px;
  text-align: center;
}
.nav_list {
  font-size: 0;
  border-bottom: 1px solid #828282;
}

.nav_item {
  display: inline-block;
  padding: 27.5px 40px 27.5px 0;
}
.nav_link {
  text-transform: capitalize;
  color: #828282;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}
.nav_link:hover {
  font-size: 22px;
}
.nav_link.nav_active {
  color: #070707;
}
/* Section hero */
h1,
h2 {
  text-transform: capitalize;
}
.hero {
  padding-top: 12px;
}
.hero_name {
  color: var(--black, #070707);
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: start;
  margin-bottom: 50px;
}
.hero_img {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}

/* section about */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
  border-color: #fff;
}
.grey_bc {
  background-color: #f6f6f6;
}
.section_heading {
  color: #070707;
  text-align: center;
  font-family: Open Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about_heading {
  margin-bottom: 50px;
}

.main_text {
  color: #070707;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
p:not(:last-child) {
  margin-bottom: 30px;
}

/* section skills */
.skills_list {
  font-size: 0;
}

.skills_heading {
  margin-bottom: 20px;
}
.skills_wrapper {
  max-width: 90px;
  margin: 0 auto;
}
.skills_wrapper:last-child() {
  width: 53px;
}
.skills_text {
  margin-bottom: 50px;
  /* max-width: 90px; */
}
.skills_img {
  width: 78px;
  margin: 0 auto 25px;
}
.skills_item {
  display: inline-block;
  max-width: 170px;
  text-align: center;
  vertical-align: top;
  margin-right: 95px;
}
.skills_item:last-child {
  margin-right: 0;
}

.skills_description {
  color: #828282;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  margin: 0 auto;
  min-height: 40px;
}
.rating {
  margin-top: 60px;
  width: 100%;
  font-size: 0;
}
.rating_item {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url(../img/star-icon-grey.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  text-align: center;
}
.rating_item:last-child {
  margin-right: 0;
}

.rating_item.active {
  background-image: url(../img/star-icon.svg);
}

/* section portfolio */
.portfolio:not(:last-child) {
  margin-bottom: 70px;
}
.portfolio_heading {
  margin-bottom: 50px;
}
.portfolio_example {
  margin-bottom: 40px;
}
.portfolio_description {
  text-decoration: underline;
}

/* footer */
.header_description {
  margin-top: 20px;
  margin-bottom: 60px;
}
.footer_button {
  border: 0;
  outline: 0;
  border-radius: 22px;
  background-color: #070707;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  /* width: 180px; */
  padding: 10px 16px;
  margin-bottom: 40px;
}
.footer_button:hover {
  color: #070707;
  background-color: #fff;
  border: 2px solid #070707;
}
.social_item {
  display: inline-block;
  margin-bottom: 60px;
}
.social_item:hover {
  opacity: 0.5;
}
.social_item:not(:last-child) {
  margin-right: 50px;
}
.social_description {
  color: #828282;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
