.container {
  max-width: 534px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.shopping_header {
  background-color: #4a4f56;
  padding-top: 19px;
  padding-bottom: 12px;
}
.main_heading {
  color: #ff8984;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header_content {
  color: #ff8984;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.shopping_list {
  background-color: #3b3f45;
}
.main_text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.joke_text {
  color: #fff;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.grey_text {
  color: #9b96ac;
}
.label {
  width: 100%;
  padding: 11px 0 13px 12px;
  background-color: #88839e;
  text-align: left;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.label:nth-child(even) {
  background-color: #7a7593;
}
.label:hover {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: #625e77;
}
label::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 25px;
  opacity: 0;
}
input[type="checkbox"] {
  display: none;
}
.fake_checkbox {
  width: 19px;
  height: 19px;
  display: inline-block;
  background-color: #fff;
}
input[type="checkbox"]:checked + .fake_checkbox {
  background-image: url(../img/Check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.button_section {
  padding-top: 45px;
  padding-bottom: 45px;
}
.button {
  color: #ff8984;
  background-color: #4a4f56;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 223px 12px 204px;
}
